<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kimnguyen.cs4640.bucketlist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bucket List"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:textSize="50dp"
        android:theme="@style/AppTheme">
        <activity android:name=".BucketListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditItemActivity"></activity>
    </application>

</manifest>